
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140rem;
}.homepage-alt-1-full-A45 {
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-bottom: 4rem;
  width: 100%;
  display: flex;

  .hero-rxV {
    width: 100%;
    height: 124.1rem;
    position: relative;
    flex-shrink: 0;

    .hero-bg-8Kf {
      object-fit: contain;
      vertical-align: top;
      width: 140rem;
      height: 117.7rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .hero-form-fKb {
      top: 90.1rem;
      flex-direction: column;
      box-shadow: 0 0.2rem 0.6rem rgba(47, 48, 52, 0.1000000015), 0 0.1rem 0.1rem rgba(47, 48, 52, 0.1000000015);
      background-color: #f3f4f8;
      border-radius: 1.6rem;
      padding: 4.8rem;
      position: absolute;
      height: 34rem;
      width: 72rem;
      background: linear-gradient(105.14deg, #ffffff 0.34%, #f3f4f8 48.48%);
      align-items: center;
      display: flex;
      box-sizing: border-box;
      left: 34rem;

      .auto-group-whtj-AXF {
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;
        margin-bottom: 0.8rem;
        width: 100%;
        height: 17.2rem;

        .auto-group-lr8q-hXB {
          flex-shrink: 0;
          margin-right: 5rem;
          width: 27.4rem;
          height: 100%;

          .get-a-free-sample-eBX {
            margin-bottom: 1.6rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.125;
            color: #2f3034;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-Z3b {
            margin-bottom: 2.4rem;
            max-width: 27.4rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2;
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
          }
          .auto-group-zkgu-dp9 {
            width: calc(100% - 13rem);
            display: flex;
            align-items: center;
            margin-right: 13rem;

            .dot-aDb {
              margin: 0.2rem 1.2rem 0rem 0rem;
              width: 1rem;
              height: 1rem;
              background-color: #2134b1;
              border-radius: 0.5rem;
              flex-shrink: 0;
            }
            .some-feature-VLZ {
              font-size: 2rem;
              font-weight: 700;
              line-height: 1.2;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .form-DGZ {
          width: 30rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 0.8rem;
          flex-shrink: 0;

          .fieldset-ZbK {
            flex-direction: column;
            border-radius: 0.8rem;
            flex-shrink: 0;
            margin-bottom: 1.6rem;
            width: 100%;
            display: flex;

            .full-name-Joo {
              letter-spacing: 0.032rem;
              white-space: nowrap;
              margin-bottom: 1rem;
              font-weight: 700;
              text-transform: uppercase;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.6rem;
              line-height: 1;
            }
            .input-Dvm {
              font-size: 2rem;
              color: #86899b;
              box-sizing: border-box;
              display: flex;
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              width: 100%;
              box-shadow: 0 0.2rem 0.4rem rgba(47, 48, 52, 0.1000000015), 0 0.1rem 0.1rem rgba(47, 48, 52, 0.1000000015);
              border-radius: 0.8rem;
              padding: 1.4rem 1.8rem;
              background-color: #ffffff;
              font-weight: 400;
            }
          }
          .fieldset-eWH {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0.8rem;

            .email-address-D3b {
              line-height: 1;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              color: #2f3034;
              margin-bottom: 1rem;
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: 0.032rem;
              text-transform: uppercase;
            }
            .input-Xpy {
              box-sizing: border-box;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              padding: 1.4rem 1.8rem;
              width: 100%;
              display: flex;
              line-height: 1;
              font-size: 2rem;
              font-weight: 400;
              box-shadow: 0 0.2rem 0.4rem rgba(47, 48, 52, 0.1000000015), 0 0.1rem 0.1rem rgba(47, 48, 52, 0.1000000015);
              border-radius: 0.8rem;
              color: #86899b;
              white-space: nowrap;
              background-color: #ffffff;
            }
          }
        }
      }
      .auto-group-cw3o-xQV {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .dot-uad {
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0.7rem 1.2rem 0rem 0rem;
          width: 1rem;
          height: 1rem;
          background-color: #2134b1;
        }
        .some-another-feature-dWd {
          line-height: 1.2;
          color: #2f3034;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.6rem;
          font-size: 2rem;
          font-weight: 700;
        }
        .button-main-NDK {
          width: 30rem;
          font-size: 2rem;
          margin-top: 1.6rem;
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          line-height: 1;
          color: #2f3034;
          white-space: nowrap;
          border-radius: 4.8rem;
          display: flex;
          justify-content: center;
          font-weight: 700;
          box-shadow: 0 0.2rem 0.4rem rgba(47, 48, 52, 0.1000000015), 0 0.1rem 0.1rem rgba(47, 48, 52, 0.1000000015);
          background-color: #ffd200;
          flex-shrink: 0;
          height: 4.8rem;
        }
      }
    }
    .hero-video-Vx9 {
      height: 40.5rem;
      position: absolute;
      left: 34rem;
      top: 46.4rem;
      width: 72rem;

      .video-image-EPw {
        background-size: 100% 100%;
        background-position: center;
        background-image: url('REPLACE_IMAGE:77580c08cf419b8208d59f7ff5f5e0ac2c13c4ae');
        border-radius: 1.6rem;
        position: absolute;
        left: 0;
        top: 0;
        box-shadow: 0 0.2rem 0.4rem rgba(47, 48, 52, 0.150000006);
        width: 72rem;
        height: 40.5rem;
        background-color: rgba(47, 48, 52, 0.5);
        background-repeat: no-repeat;
      }
      .icon-play-vGm {
        position: absolute;
        left: 32.8rem;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:3:1057');
        box-sizing: border-box;
        width: 6.4rem;
        top: 16.4rem;
        background-repeat: no-repeat;
        background-position: center;
        padding: 1.92rem 1.92rem 1.92rem 2.56rem;
        height: 6.4rem;

        .vector-Dmf {
          width: 1.92rem;
          height: 2.56rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .hero-buttons-wSm {
      position: absolute;
      left: 49.9rem;
      top: 33.6rem;
      display: flex;
      align-items: center;
      border-radius: 4.8rem;
      width: 40.3rem;
      height: 4.8rem;

      .button-outline-UBo {
        font-size: 2rem;
        color: #ffffff;
        white-space: nowrap;
        width: 16.2rem;
        height: 100%;
        display: flex;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        font-family: Roboto, 'Source Sans Pro';
        border: solid 0.1rem #ffffff;
        border-radius: 4.8rem;
        margin-right: 3.2rem;
        line-height: 1;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .button-main-LE1 {
        display: flex;
        width: 20.9rem;
        font-size: 2rem;
        border-radius: 4.8rem;
        flex-shrink: 0;
        background-color: #ffd200;
        height: 100%;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        line-height: 1;
        font-family: Roboto, 'Source Sans Pro';
        color: #2f3034;
        white-space: nowrap;
      }
    }
    .hero-title-oNV {
      left: 44.45rem;
      top: 16rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 51.1rem;
      height: 12.8rem;
      position: absolute;

      .capture-your-next-leads-8ff {
        line-height: 1;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 3.2rem;
        text-align: center;
        font-size: 4.8rem;
        font-weight: 700;
        color: #ffffff;
      }
      .this-is-a-lead-capture-oriented-landing-page-template-hence-the-name-etu {
        max-width: 46.4rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1;
        color: rgba(255, 255, 255, 0.75);
        font-family: Roboto, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .header-kh3 {
      width: 96rem;
      height: 2rem;
      position: absolute;
      left: 22rem;
      top: 4rem;
      display: flex;
      align-items: center;

      .logo-toF {
        margin-right: 51.2rem;
        width: 13rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .get-in-contact-if-you-have-any-questions-EcD {
        align-items: baseline;
        flex-shrink: 0;
        color: #ffffff;
        white-space: nowrap;
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.6;
        font-family: Roboto, 'Source Sans Pro';
        text-align: right;
        display: flex;

        .get-in-contact-if-you-have-any-questions-EcD-sub-0 {
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1111111111;
          text-decoration-line: underline;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .get-in-contact-if-you-have-any-questions-EcD-sub-1 {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 1.8rem;
          font-weight: 400;
          line-height: 1.1111111111;
        }
      }
    }
  }
  .auto-group-y733-GxD {
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 10rem 22rem 9.8rem 22rem;
    width: 100%;
    align-items: center;
    display: flex;

    .big-features-ohF {
      height: 62.5rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin-bottom: 10rem;
      width: 100%;

      .big-features-content-Yuj {
        margin: 2.8rem 6.1rem 3.7rem 0rem;
        width: 41.9rem;
        height: calc(100% - 6.5rem);
        flex-shrink: 0;

        .big-features-text-sh7 {
          display: flex;
          flex-direction: column;
          margin-bottom: 6.4rem;
          width: 100%;
          row-gap: 3.2rem;

          .the-main-features-DFB {
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: 0.032rem;
            text-transform: uppercase;
            flex-shrink: 0;
            font-size: 1.6rem;
            line-height: 1;
          }
          .highlight-your-main-selling-points-in-this-section-YHT {
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 38.6rem;
            font-size: 3.2rem;
            font-weight: 700;
            line-height: 1.125;
            color: #2f3034;
          }
          .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-magni-dolores-eos-qui-ratione-sequi-nesciunt-row {
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.2;
            color: rgba(47, 48, 52, 0.6000000238);
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 41.9rem;
          }
        }
        .big-features-list-voo {
          width: 39.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .big-features-list-item-UKX {
            margin-bottom: 4rem;
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-zf8r-E3o {
              margin: 0rem 7.9rem 1.2rem 0rem;
              width: calc(100% - 7.9rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .icon-mail-9Rf {
                height: 3.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3.2rem;
                width: 4rem;
              }
              .aquire-leads-with-ease-VEd {
                line-height: 1.1666666667;
                color: #2f3034;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
              }
            }
            .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-magni-pXo {
              max-width: 32.3rem;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2;
              color: rgba(47, 48, 52, 0.6000000238);
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              margin-left: 7.2rem;
            }
          }
          .big-features-list-item-uZF {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            align-items: flex-end;

            .auto-group-79vm-fYR {
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 5.5rem 0.4rem 0rem;
              width: calc(100% - 5.5rem);
              display: flex;

              .icon-anchor-PzD {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 3.2rem;
                width: 4rem;
                height: 4rem;
                position: relative;
                object-fit: contain;
              }
              .beautiful-and-responsive-LPf {
                flex-shrink: 0;
                font-size: 2.4rem;
                font-weight: 700;
                line-height: 1.1666666667;
                color: #2f3034;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-magni-SxV {
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.2;
              color: rgba(47, 48, 52, 0.6000000238);
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 32.3rem;
            }
          }
        }
      }
      .big-feature-image-Xyw {
        width: 48rem;
        height: 100%;
        position: relative;
        flex-shrink: 0;

        .bg-gradient-g69 {
          left: 0;
          top: 1.1rem;
          background: radial-gradient(50% 50% at 50% 50%, rgba(229, 229, 229, 0.5) 0%, rgba(229, 229, 229, 0) 100%);
          opacity: 0.5;
          width: 48rem;
          height: 61.4rem;
          position: absolute;
        }
        .iphone-LgV {
          background-image: url('REPLACE_IMAGE:3:976');
          padding: 1.066rem 1.065rem 1.066rem 1.065rem;
          width: 30rem;
          height: 62.5rem;
          left: 8rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          box-sizing: border-box;
          position: absolute;
          top: 0;

          .screen-rPw {
            object-fit: contain;
            vertical-align: top;
            width: 27.8695rem;
            height: 60.3688rem;
            position: relative;
          }
        }
        .bar-AfX {
          position: absolute;
          left: 22.8rem;
          border-radius: 1.4rem;
          box-sizing: border-box;
          width: 25.2rem;
          top: 35.1rem;
          box-shadow: 0 0.2rem 0.3rem rgba(47, 48, 52, 0.1000000015);
          background-color: #ffffff;
          padding: 1.4rem 2.7rem 1.6rem 1.6rem;
          height: 7.2rem;

          .auto-group-xr93-g85 {
            margin: 0rem 15.7rem 0.8rem 0rem;
            width: calc(100% - 15.7rem);
            display: flex;
            align-items: flex-end;

            .item--zuT {
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.5rem;
            }
            .fox-XPb {
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .nostrum-exercitatio-nem-do-Gry {
            line-height: 1.1428571429;
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            margin-left: 2.6rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .bar-Lbw {
          padding: 1.4rem 2.1rem 1.6rem 1.6rem;
          width: 25.2rem;
          height: 7.2rem;
          position: absolute;
          align-items: center;
          display: flex;
          background-color: #ffffff;
          box-sizing: border-box;
          border-radius: 1.4rem;
          top: 25.5rem;
          flex-direction: column;
          box-shadow: 0 0.2rem 0.3rem rgba(47, 48, 52, 0.1000000015);
          left: 14.8rem;

          .auto-group-pl4d-e6q {
            margin: 0rem 7.6rem 0.8rem 0rem;
            width: calc(100% - 7.6rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .item--B6m {
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.4rem;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1;
            }
            .johnny-dolores-JSH {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .nam-libero-tempore-cum-sol-qh7 {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 2.6rem;
          }
        }
        .bar-8RK {
          height: 7.2rem;
          position: absolute;
          left: 22.8rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;
          border-radius: 1.4rem;
          width: 25.2rem;
          top: 15.9rem;
          box-shadow: 0 0.2rem 0.3rem rgba(47, 48, 52, 0.1000000015);
          padding: 1.4rem 1.6rem 1.6rem 1.6rem;

          .auto-group-hqfs-Mos {
            align-items: flex-end;
            flex-shrink: 0;
            margin: 0rem 7.4rem 0.8rem 0rem;
            width: calc(100% - 7.4rem);
            display: flex;

            .item--h73 {
              font-weight: 700;
              line-height: 1;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.5rem;
              font-size: 1.8rem;
            }
            .sam-the-unicorn-2f7 {
              flex-shrink: 0;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .ut-enim-ad-minima-veniam-msb {
            line-height: 1.1428571429;
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 0.7rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
        .bar-fCH {
          box-shadow: 0 0.2rem 0.3rem rgba(47, 48, 52, 0.1000000015);
          padding: 1.4rem 2.7rem 1.6rem 1.6rem;
          width: 25.2rem;
          height: 7.2rem;
          position: absolute;
          top: 6.3rem;
          display: flex;
          flex-direction: column;
          border-radius: 1.4rem;
          box-sizing: border-box;
          left: 14.8rem;
          align-items: center;
          background-color: #ffffff;

          .auto-group-w8vs-kzR {
            margin: 0rem 8.7rem 0.8rem 0rem;
            width: calc(100% - 8.7rem);
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .item--VSD {
              flex-shrink: 0;
              margin-right: 1.5rem;
              font-size: 1.8rem;
              font-weight: 700;
              line-height: 1;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .bob-mclaren-E8u {
              font-weight: 700;
              line-height: 1;
              color: #2f3034;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.6rem;
            }
          }
          .sed-ut-perspiciatis-unde-om-AoF {
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.1428571429;
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 2.6rem;
          }
        }
        .bar-fED {
          top: 44.7rem;
          box-shadow: 0 0.2rem 0.3rem rgba(47, 48, 52, 0.1000000015);
          background-color: #ffffff;
          padding: 1.6rem 2.6rem 2.1rem 1.6rem;
          width: 25.2rem;
          height: 13.5rem;
          position: absolute;
          left: 14.8rem;
          display: flex;
          align-items: flex-start;
          border-radius: 1.4rem;
          box-sizing: border-box;

          .item--ZaV {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.9rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1;
            color: #2f3034;
          }
          .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-aspernatur-aut-odit-aut-fugit-sed-quia-consequuntur-magni-dolores-eos-qui-ratione-voluptatem-sequi-JHB {
            line-height: 1.1428571429;
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 0.2rem;
            max-width: 18rem;
            font-size: 1.4rem;
            font-weight: 400;
          }
        }
      }
    }
    .quote-WPF {
      margin: 0 20rem;
      width: calc(100% - 40rem);
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .quote-content-rCD {
        margin-bottom: 6.4rem;
        padding: 0 1.3rem;
        width: 100%;
        border-radius: 6.4rem;
        box-sizing: border-box;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .quote-image-7dw {
          height: 6.4rem;
          object-fit: cover;
          vertical-align: top;
          border-radius: 6.4rem;
          flex-shrink: 0;
          margin-bottom: 3.2rem;
          width: 6.4rem;
        }
        .quote-text-EyT {
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-CfP {
            font-family: Roboto, 'Source Sans Pro';
            margin-bottom: 2.4rem;
            max-width: 53.4rem;
            text-align: center;
            font-weight: 400;
            font-size: 3.2rem;
            line-height: 1.125;
            color: #2f3034;
            flex-shrink: 0;
          }
          .sharon-v-collins-morrison-tYD {
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;
            white-space: nowrap;
            line-height: 1;
            letter-spacing: 0.032rem;
            text-transform: uppercase;
            color: #86899b;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .quote-cta-button-avq {
        width: calc(100% - 35.1rem);
        font-size: 2rem;
        font-family: Roboto, 'Source Sans Pro';
        justify-content: center;
        background-color: #ffd200;
        border-radius: 4.8rem;
        margin: 0rem 17.5rem 0rem 17.6rem;
        height: 4.8rem;
        font-weight: 700;
        color: #2f3034;
        white-space: nowrap;
        display: flex;
        align-items: center;
        line-height: 1;
        flex-shrink: 0;
      }
    }
  }
  .grid-features-du7 {
    background-color: #2f3034;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 4.2rem;
    box-sizing: border-box;
    padding: 10rem 22rem;
    width: 100%;
    align-items: center;

    .auto-group-bgzk-mVX {
      margin: 0rem 4.1rem 8rem 0.8rem;
      width: calc(100% - 4.9rem);
      height: 12rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .grid-features-item-6Gu {
        margin-right: 12.9rem;
        width: 38.7rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-p7ux-dXj {
          margin: 0rem 4.7rem 0.8rem 0rem;
          width: calc(100% - 4.7rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-award-AGm {
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3.8545rem;
            width: 2.5455rem;
            height: 4rem;
          }
          .stand-out-with-great-style-Vpq {
            margin-bottom: 0.4rem;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.1666666667;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-magni-cuT {
          max-width: 32.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2;
          color: rgba(255, 255, 255, 0.75);
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .grid-features-item-Wzq {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        width: 39.5rem;
        height: 100%;

        .auto-group-kodw-GUD {
          width: calc(100% - 4.1rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 4.1rem 1.2rem 0rem;

          .icon-chart-bFb {
            margin-right: 3.2rem;
            width: 4rem;
            height: 3.6rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .convert-visitors-into-leads-vof {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.1666666667;
            color: #ffffff;
          }
        }
        .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-magni-TYh {
          max-width: 32.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2;
          color: rgba(255, 255, 255, 0.75);
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
    .auto-group-s3yh-Mty {
      flex-shrink: 0;
      margin: 0rem 4.1rem 10rem 0rem;
      width: calc(100% - 4.1rem);
      height: 11.6rem;
      display: flex;
      align-items: center;

      .grid-features-item-tP7 {
        margin-right: 12.9rem;
        width: 39.5rem;
        height: 100%;
        flex-shrink: 0;

        .auto-group-mhbj-317 {
          margin: 0rem 12.6rem 0.4rem 0rem;
          width: calc(100% - 12.6rem);
          display: flex;
          align-items: flex-start;

          .icon-command-NJH {
            flex-shrink: 0;
            margin-right: 3.2rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .easy-to-customise-WfP {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.1666666667;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-magni-2Nq {
          margin-left: 7.2rem;
          max-width: 32.3rem;
          font-size: 2rem;
          font-weight: 400;
          line-height: 1.2;
          color: rgba(255, 255, 255, 0.75);
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .grid-features-item-iWZ {
        width: 39.5rem;
        height: 100%;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-fmjb-4aR {
          margin: 0rem 4.5rem 0.4rem 0rem;
          width: calc(100% - 4.5rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .icon-copy-zU5 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 3.2rem;
            width: 4rem;
            height: 4rem;
            position: relative;
          }
          .create-and-test-variations-vsX {
            font-size: 2.4rem;
            font-weight: 700;
            line-height: 1.1666666667;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .nemo-enim-ipsam-voluptatem-quia-voluptas-sit-asperna-netsum-lorisum-fugit-sed-quia-magni-Fuo {
          line-height: 1.2;
          color: rgba(255, 255, 255, 0.75);
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 32.3rem;
          font-size: 2rem;
          font-weight: 400;
        }
      }
    }
    .grid-features-cta-xZK {
      width: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 4.8rem;
      flex-shrink: 0;

      .the-main-features-iHb {
        margin-bottom: 3.2rem;
        font-weight: 700;
        line-height: 1;
        letter-spacing: 0.032rem;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.75);
        font-size: 1.6rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-9zuw-2p5 {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .highlight-your-main-selling-points-in-this-section-Bws {
          font-size: 3.2rem;
          font-weight: 700;
          line-height: 1.125;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 17.1rem;
          max-width: 38.6rem;
        }
        .cta-buttons-JFo {
          border-radius: 4.8rem;
          flex-shrink: 0;
          height: 4.8rem;
          display: flex;
          align-items: center;

          .button-outline-FRw {
            height: 100%;
            display: flex;
            color: #ffffff;
            margin-right: 3.2rem;
            line-height: 1;
            white-space: nowrap;
            justify-content: center;
            font-size: 2rem;
            border-radius: 4.8rem;
            flex-shrink: 0;
            width: 16.2rem;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            border: solid 0.1rem #ffffff;
            box-sizing: border-box;
            align-items: center;
          }
          .button-main-X8Z {
            font-size: 2rem;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            display: flex;
            align-items: center;
            background-color: #ffd200;
            border-radius: 4.8rem;
            height: 100%;
            white-space: nowrap;
            font-weight: 700;
            width: 20.9rem;
            justify-content: center;
            line-height: 1;
            color: #2f3034;
          }
        }
      }
    }
  }
  .footer-9Qq {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0 22rem;
    width: calc(100% - 44rem);

    .logo-Hmw {
      flex-shrink: 0;
      margin-right: 51.2rem;
      width: 13rem;
      height: 2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .get-in-contact-if-you-have-any-questions-qHf {
      font-size: 2rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: right;
      display: flex;
      line-height: 1.6;
      white-space: nowrap;
      align-items: baseline;

      .get-in-contact-if-you-have-any-questions-qHf-sub-0 {
        font-weight: 400;
        line-height: 1.1111111111;
        text-decoration-line: underline;
        color: #86899b;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.8rem;
      }
      .get-in-contact-if-you-have-any-questions-qHf-sub-1 {
        line-height: 1.1111111111;
        color: #86899b;
        font-family: Roboto, 'Source Sans Pro';
        font-size: 1.8rem;
        font-weight: 400;
      }
    }
  }
}
